@import './team.scss';
@import './component.scss';

.cardform {
    border: 1px solid rgba(142, 142, 142, 1);
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    width: 550px;
    height: 500px;
    padding: 0px 20px 0px 30px;
    position: relative;
    left: -10px;
   
    h2 {
        font-family: var(--font-family);
        font-size: 16px;
        font-weight: 500;
        line-height: 36px;
        padding-top: 30px;
    }

    &_carddetails {
        display: flex;
        margin-top: 20px;
        border: 1px solid rgba(142, 142, 142, 1);
        border-radius: 5px;
        padding: 5px;

    }

    &_expiry, &_cvv{
        flex: 1;
    }

    &_validity {
        display: flex;
        gap: 10px;
    }

    &_input {
        font-family: var(--font-family);
        font-size: 14px;
        border: none;   
        width: 100%;
        font-weight: 400;
        line-height: 24px;
        color: rgba(142, 142, 142, 1);
        padding-left: 5px;

        &:focus {
            outline: none;
        }
    }

    &_save {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        align-items: center;
        
        path{
            fill: var(--primary-color);
        }

        h2 {
            font-family: var(--font-family);
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            color: rgba(142, 142, 142, 1);
            padding-left: 10px;
        }

        img {
            width: 20px;
            height: 20px;
            padding-left: 10px;
        }
    }

    &_error{
        color: red;
        font-size: 14px;
    }

    &_fastpay{
        position: relative;
        bottom: 15px;
    }

    .btn {
        background-color: var(--primary-color);
        color: var(--secondary-color);
        margin-top: 60px;
        margin-left: 5px;
        // margin-bottom: 20px;
        padding: 10px;
        text-align: center;
        cursor: pointer;
        font-size: 16px;
        font-family: var(--font-family);
        font-weight: 600;
        line-height: 30px;
        display: flex;
        flex-wrap: wrap;
        width: 550px;
    }
    
}

